<div id="connectionError">
	
	<h1>Connection error</h1>
	
	<p>We were unable to connect to our system to find you. What now?</p>

	<ul>
		<li>There may have been a temporary problem connecting to our system. <a class="resetLink" href="#">Go back to try again</a>.</li>
		<li>Your device may not have an internet connection. Please be sure you have an internet connection.</li>		
	</ul>
		
	<p>We apologize you're having this difficulty and will work with you to get it cleared up as soon as possible.  Thank you!<br /><br />Sincerely,<br />Hope Community Church</p>

</div>