<div id="noMatch">
	
	<h1>No match</h1>
	
	<p>We could not locate your barcode. What now?</p>

	<ul>
		<li>Did you enter your name and date of birth correctly?<br /><a class="resetLink" href="#">Go back to try again</a>.</li>
		<li>Do you go by your middle name? If so, we may not have this in the system correctly. You can <a href="http://gethope.infellowship.com">login here</a> to update your profile. Put the name you go by in the "Nickname" field when editing your profile. If you have trouble editing your profile, <a href="mailto:info@gethope.net">please contact us</a>.</li>
		<li>If you are trying to check in at KidCity or another activity, please go to an assisted check-in station to have a team member assist you.</li>		
	</ul>
		
	<p>We apologize you're having this difficulty and will work with you to get it cleared up as soon as possible.  Thank you!<br /><br />Sincerely,<br />Hope Community Church</p>

</div>